@import '../styles/settings.scss';

.article {
	background-color: $transparent-background-color;
	box-shadow: 0 0 10px 10px $transparent-background-color;
	border-radius: 5px;
	margin: auto;
	max-width: 800px;
	padding: 20px;

	* {
		text-align: left;
	}

	&:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}

	header {
		.image {
			margin: 1em auto;
			max-height: 800px;
		}

		.links {
			font-size: 1.5em;
			text-align: center;
			margin: 80px 0;
			a {
				margin: 0 20px;
				text-decoration: underline;
			}
		}
	}

	h1 {
		@include heading;
		font-size: 2.5em;
		letter-spacing: 0.05em;
		margin: 0.2em 0;
	}

	.subtitle {
		font-size: 1.4em;
		font-weight: 400;
		margin: 0;
	}

	.author,
	.date {
		font-size: 1.2em;
		font-style: italic;
		font-weight: 400;
		margin: 0;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 400;
		line-height: 1em;
	}

	h3 {
		font-style: italic;
		font-size: 1.3em;
		font-weight: 300;
	}

	p {
		font-weight: 200;
		margin: 20px 0 20px 0;
	}

	.content {
		a {
			text-decoration: underline;
		}
	}
}
