.grid {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 2em !important;

	* {
		flex: 1 1 100%;

		* {
			// Ugly hack to enlarge pictures that are too small.
			max-width: initial !important;
			width: 100%;
		}
	}

	@media screen and (min-width: 961px) {
		.n1d1 {
			flex-basis: 100%;
		}

		.n1d2 {
			flex-basis: 50%;
		}
	}
}
