@import '../styles/settings.scss';

.grid {
	margin: 0 auto;

	.item {
		display: block;
		max-width: 280px;
		width: 100%;
	}

	.title {
		@include heading;
		font-size: 1.1em;
		line-height: 1em;
	}

	.subtitle {
		@include heading;
		font-size: 0.9em;
		line-height: 1.2em;
		margin-bottom: 0.5em;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
	}
}
