@import '../styles/settings.scss';

.container {
	background-color: $transparent-background-color;
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px;

	&:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}
}
