@import '../styles/settings.scss';

.title,
.subtitle,
.social-links,
.page-links,
.footnotes {
	@include heading;

	text-align: center;
}

a {
	color: #fff;

	&:hover {
		color: $color-active;
	}

	&.active {
		color: $color-active;
	}
}

.title {
	font-size: 2.9em;
	letter-spacing: 0.15em;
	line-height: 0.8em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
}

.subtitle {
	font-size: 1em;
	line-height: 1em;
}

.social-links {
	font-size: 1.34em;
	line-height: 1.34em;

	& > * {
		margin: 0 0.24em;
	}
}

.page-links {
	font-size: 1.65em;
	margin: 0 0 0.4em 0;

	a {
		padding: 4px 5px;
		margin: 0 4px;
	}
}

.main {
	margin-bottom: 60px;
}

.footer {
	margin-bottom: 20px;
}

.footnotes {
	font-size: 1em;
}
